<table class="table table-bordered">
    <thead>
      <tr class="bg-primary">
        <th colspan="2" class="title">Atributos del producto</th>
      </tr>
      <tr class="bg-warning">
        <th scope="col">Atributo</th>
        <th scope="col">Valor</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Color</th>
        <td>Blanco</td>
      </tr>
      <tr>
        <th scope="row">Aplicación</th>
        <td>Interior</td>
      </tr>
      <tr>
        <th scope="row">Marca</th>
        <td>Thermo Master</td>
      </tr>
      <tr>
        <th scope="row">Material</th>
        <td>Plástico</td>
      </tr>
      <tr>
        <th scope="row">Potencia</th>
        <td>10 KW</td>
      </tr>
      <tr>
        <th scope="row">Tipo de uso</th>
        <td>Doméstico</td>
      </tr>
    </tbody>
  </table>