<table class="table table-bordered">
    <thead>
      <tr class="bg-primary">
        <th colspan="4" class="title">Accesorios Necesarios</th>
      </tr>
      <tr class="bg-warning">
        <th scope="col">Accesorio</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Pasillo</th>
        <th scope="col">Rack</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Flipón 50A</th>
        <td>2</td>
        <td>9</td>
        <td>G</td>
      </tr>
      <tr>
        <th scope="row">Flipón 50A</th>
        <td>1</td>
        <td>9</td>
        <td>F</td>
      </tr>
      <tr>
        <th scope="row">Flipón 50A</th>
        <td>3</td>
        <td>9</td>
        <td>A</td>
      </tr>
    </tbody>
  </table>