<div>
  <div class="titulo">
    <h1>Accesorios Necesarios</h1>
  </div>  

<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../assets/images/flipon.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../assets/images/calentador.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../assets/images/calentador.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<br>

  <div>
    <table class="table table-bordered table-striped">
      <thead>
        <tr class="bg-warning">
          <th colspan="4" class="title">Accesorios Recomendados</th>
        </tr>
        <tr class="bg-warning">
          <th scope="col">Accesorio</th>
          <th scope="col">Cantidad</th>
          <th scope="col">Pasillo</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">{{accesoriesProduct.accesories.pegamento}}</th>
          <td>2</td>
          <td>9</td>
        </tr>
        <tr>
          <th scope="row">{{accesoriesProduct.accesories.breaker}}</th>
          <td>1</td>
          <td>9</td>
        </tr>
        <tr>
          <th scope="row">{{accesoriesProduct.accesories.cable}}</th>
          <td>3</td>
          <td>9</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>