*{
    padding: 12px;
}

.titulo{
    padding: 0px;
    text-align: center;
}

.calentadorimg{
    width: 100%;
}

.description{
    padding: 0px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

thead{
    text-align: center;
}
